<ion-tabs>
  <ion-tab [root]="workoutsRoot" tabTitle="Workouts" tabIcon="home"></ion-tab>
  <ion-tab [root]="addWorkoutRoot" tabTitle="Add Workout" tabIcon="add"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
