<ion-header>
  <ion-navbar>
    <ion-title>Add Workout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Add Workout</h2>
  <form (submit)="onSubmit()">
  	<ion-list>
  		<ion-item>
  			<ion-label fixed>Title</ion-label>
  			<ion-input [(ngModel)]="title" type="text" value="" [ngModelOptions]="{standalone: true}"></ion-input>
  		</ion-item>
  		<ion-item>
  			<ion-label fixed>Note</ion-label>
  			<ion-input [(ngModel)]="note" type="textarea" [ngModelOptions]="{standalone: true}"></ion-input>
  		</ion-item>
  		<ion-item>
  			<ion-label fixed>Type</ion-label>
  			<ion-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
  				<ion-option value="Jogging">Jogging</ion-option>
  				<ion-option value="Free Weights">Free Weights</ion-option>
  				<ion-option value="Elliptical">Elliptical</ion-option>
  				<ion-option value="Boxing">Boxing</ion-option>
  				<ion-option value="Aerobics">Aerobics</ion-option>
  			</ion-select>
  		</ion-item>
  		<ion-item>
  			<button type="submit" block>Add Workout</button>
  		</ion-item>
  	</ion-list>
  </form>
</ion-content>
